    <div class="col-md-12">
        <h3>Write a comment</h3>
        <span class="col-md-6">
            <input type="text" name="name" class="form-control input-lg" placeholder="Name">
        </span>

        <span class="col-md-6">
            <input type="email" name="email" class="form-control input-lg" placeholder="Email">
        </span>

        <span class="col-md-12">
            <textarea id="msg" name="comment" class="form-control input-lg" placeholder="Comment"></textarea>
            <button class="btn btn-lg btn-alert btn-block" id="postComment" type="submit">Post comment</button>
        </span>
        
    </div>    
